<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.username">Ognjen</property>
    <property name="hibernate.connection.password">b4r4kud4</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:8001/pia_project_db?zeroDateTimeBehavior=convertToNull</property>
    <mapping class="model.User"/>
    <mapping class="model.Festival"/>
    <mapping class="model.Reservation"/>
    <mapping class="model.SocialNetwork"/>
    <mapping class="model.Performer"/>
    <mapping class="model.Ticket"/>
    <mapping class="model.UserRole"/>
    <mapping class="model.FestivalComment"/>
    <mapping class="model.FestivalPerformer"/>
    <mapping class="model.FestivalRating"/>
  </session-factory>
</hibernate-configuration>
